//start sass: sass --watch scss:css
/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$primary-color: rgba(61, 163, 221, 1);
$background-color: rgba(255, 255, 255, 1);
$border-grey: rgba(193, 205, 213, 1);
$tab-bottom-border: 18px;
$tab-top-padding: 10px;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


//---------------------------------------------------------------------------
//                        GLOBAL STYLES
//---------------------------------------------------------------------------
body{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: $primary-color;
  text-align: center;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
  }
}
.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

//---------------------------------------------------------------------------
//                        LAYOUT SCAFFOLDING
//---------------------------------------------------------------------------
.row{
  @include make-row;
  .logo, .title, .menu{
    @include make-xs-column( 12 );
  }
  .logo, .title{
    @include make-md-column( 8 );
  }
  .menu{
    @include make-md-column( 4 );
  }
  .cat{
    @include make-xs-column( 6 );
    @include make-sm-column( 4 );
    @include make-md-column( 3 );
    $grid-columns: 10 !global;
    @include make-lg-column( 2 );
    $grid-columns: 12 !global;
    @include make-xl-column( 2 );
    padding: 0;
  }
}

.cat{
  height: auto;
  display: inline-block;
  position: relative;
  img{
    width: 100%;
    height: auto;
  }

  .overlay-holder{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;

    h2 {
      color: white;
      width: 100%;
      text-transform: uppercase;
      display: none;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &:hover, &:active{
      background: rgba(71,163,218,0.2);

      h2{
        display: inline;
      }
    }
  }
}
.control-tab{
  padding-bottom: 30px;
  padding-top: 20px;
  color: $primary-color;
  position: relative;

  & > span.icon-hidden {
    color: $border-grey;
  }
  a:hover, a:focus{
    color: $primary-color;

    & > span.icon-hidden {
      color: rgba(117, 142, 158, 1);
    }
  }
  @media (min-width: $screen-xs-min) {
    & > ul {
      display: block;
      margin: 0 auto;
    }
  }
}

.control{
  font-size: 12px;
  text-transform: capitalize;
  position: relative;
  width: 20%;
  float:left;
  display: block;
  @media (min-width: $screen-xs-min) {
    width: 85px;
    display: inline-block;
    float: none;
    margin-right: $tab-bottom-border - 3;
  }
  @media (min-width: $screen-sm-min) {
    width: auto;
    padding: 0 15px 25px 15px;
    .icon{
      display: inline;
    }
    .icon-label{
      display: inline;
      text-align: left;
      margin-left: 15px;
      font-size: 18px;
    }
  }
}


.tab-hidden {
  display: none;
}
//---------------------------------------------------------------------------
//                        DECORATIVE STYLES
//---------------------------------------------------------------------------

.header{
  padding: 20px 15%;

  @media (min-width: $screen-md-min) {
    .logo, .title{
      text-align: left;
      padding: 0 10%;
    }
    .menu{
      text-align: right;
    }
  }
.logo{
  position: relative;
  #hover-display{
    font-size: 10px;
    position: absolute;
    width: 200%;
    background: $primary-color;
    color: $background-color;
    top: 20px;
    left: -65px;
    z-index: 20;
  }
}
}
.menu{
  text-align: center;
  ul {
    a:not(:last-child){
      margin-right: 12px;
    }
  }
}
$nav-button-dim: 36px;
.nav-button{
  font-family: FontAwesome;
  border: 4px solid $primary-color;
  width: $nav-button-dim;
  height: $nav-button-dim;
  border-radius: $nav-button-dim /2;
  position: relative;

  & > span {
    display: none;
  }
  &:hover{
    background-color: $primary-color;
    & > span {
      position: absolute;
      display: block;
      width: 800%;
      right: 0;
      top: 40px;
      text-align: right;
      border: none;
      color: $primary-color;
    }
    &::before{
      color: $background-color;
    }
  }

  &::before{
    color: $primary-color;
    font-size:15px;
    position: absolute;
    left: 8px;
    top: 3px;
  }
}
.previous::before{
  content: '\f060';
  }
.next::before{
  content: '\f061';
}
.back-to-article::before{
  content:  '\f043';
  left: 9px;
}
.archive::before{
  content: '\f01c';
}
.logo{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .65rem;
  // position: relative;
}
.blueprint-title{
  position: relative;
}
$hover-info-dim: 14px;
.hover-info{
  content: '';
  display: inline-block;
  width: $hover-info-dim;
  height: $hover-info-dim;
  border: 1px solid $primary-color;
  border-radius: $hover-info-dim / 2;
  position: absolute;
  right: -12px;
  top: -4px;
  &::after{
    font-family: FontAwesome;
    content: '\f128';
    color: $primary-color;
    position: absolute;;
    top: 0;
    left: 3px;
    font-size: $hover-info-dim * .66;
    font-weight: lighter;
  }
}
.title{
  font-size: 28px;
}
.menu{
  padding-top: 20px;
}

.icon-label, .icon{
  display: inline-block;
}
.icon-label{
  display: none;
}
.icon{
  font-family: FontAwesome;
  font-size: 20px;
  padding-top: 15px;
  width: 100%;
  height: 60px;
}

.control-tab{

  .control{
    border-top: 1px solid $border-grey;
    border-right: 1px solid $border-grey;
    border-bottom: 1px solid $primary-color;
    color: $border-grey;
    padding-top: 1px;
    @media (min-width: $screen-xs-min) {
      border-left: 1px solid $border-grey;
      padding-top: $tab-top-padding;
    }
  }

  @media (min-width: $screen-xs-min) {
    a:not(:last-of-type){
      li{
        position: relative;
        &::after{
          position: absolute;
          content: '';
          width: $tab-bottom-border;
          border-bottom: 1px solid $primary-color;
          bottom: -1px;
          right: -1 * ( $tab-bottom-border + 1);
        }
      }
    }
  }
  .icon-active{
    color: $primary-color;
    border-top: 3px solid $primary-color;
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
    border-bottom: none;
    padding-top: 0;
    @media (min-width: $screen-xs-min) {
      padding-top: $tab-top-padding - 1;
    }
  }

  .icon-hidden{
    @media (min-width: $screen-xs-min) {
      padding-top: $tab-top-padding + 1;
    }
  }

}

#control-shop::before, #control-order::after{
    content: '';
    position: absolute;
    width: 2000px;
    border-bottom: 1px solid $primary-color;
}
#control-shop::before{
    left: -2000px;
    bottom: -1px;
}
#control-order::after{
    right: -2000px;
    bottom: -1px;
}


//icons for menu tabs
#nav-shop::before{
  content: '\f07a';
}
#nav-drink::before{
  content: '\f091';
}
#nav-food::before{
  content: '\f1fd';
}
#nav-lab::before{
  content: '\f0f5';
}
#nav-order::before{
  content: '\f0d1';
}

//styles for items inside of articles
.tab-item{
  .img-holder{
    padding: 20px 0;
    background-color: $primary-color;
  }
  img{
    max-width: 40%;
  }
  h2{
    font-size: 20px;
    font-weight: bold;
  }
  p{
  font-size: 17px;
  font-weight: lighter;
  }

  @media (min-width: $screen-xs-min) {
    margin-bottom: 30px;

    .img-holder, .text-holder{
      display: block;
      margin: 0;
    }
    .img-holder{
      width: 40%;
      float: left;
    }
    .text-holder{
      width: 50%;
      float: right;
    }
    h2, p{
      margin: 0;
      text-align: left;
    }
    h2{
      margin-bottom: 15px;
    }
  }

  @media (min-width: $screen-sm-min) {
    width: 30%;

    .img-holder, .text-holder{
      width: 100%;
      display: block;
      margin: 0;
    }
    h2, p{
      margin: 0;
      text-align: left;
    }
    h2{
      margin: 15px 0;
    }
  }
}
